<!--BANNER SLIDER-->
<div id="carousel-example-generic" class="carousel1 slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <a href=""><img src="/frontend/Mobileshop/assets/images/b3.jpg" width="100%"></a>
    </div>
    <div class="item">
      <a href=""><img src="/frontend/Mobileshop/assets/images/b2.jpg" width="100%"></a>
    </div>
    <div class="item">
      <a href=""><img src="/frontend/Mobileshop/assets/images/b1.jpg" width="100%"></a>
    </div>
  </div>
</div>
<!--END BANNER SLIDER-->